#addFunds {
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color: $brand-primary;
  border: none;
  border-radius: 100px;
  height: 40px;
  color: #fff;
  font-size: 17px;
  appearance: none;
}
