#paymentForm {
  select {
    border-color: $gray-lighter;
    height: 35px !important;
    text-indent: 8px;
    background-color: #fff;
  }

  .dropdown {
    background-color: transparent;
  }

  #expiryYear_div, #expiryMonth_div {
    width: 50%;
    float: left;
  }

  #expiryMonth_div {
    padding-right: 10px;
  }

  #expiryYear_div {
    padding-left: 10px;
    margin-left: 0;
  }
}
