@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin textfield() {
  appearance: none;
  box-shadow: none;
  text-indent: 10px;
  color: #5a5968;
  border: 1px solid $gray-lighter !important;
  border-radius: 0;
  font-size: 14px;
  height: 33px;
  margin: 0 0 15px;

  &::placeholder {
    color: $gray-light !important;
  }

  &:focus {
    border: 1px solid $brand-primary !important;
    outline: none;
  }
}

@mixin btn() {
  cursor: default;
  //touch-action: manipulation;
  //white-space: nowrap;
  //user-select: none;
  //-webkit-appearance: button;
  //-webkit-tap-highlight-color: transparent;

  &,
  &:active,
  &:focus {
    outline: none;
  }
}
