#paymentForm {
  select {
    border-color: $gray-01;
    height: 35px !important;
    text-indent: 8px;
  }

  #expiryYear_div, #expiryMonth_div {
    width: 50%;
    box-sizing: border-box;
  }

  #expiryMonth_div {
    float: right;
    padding-left: 10px;
  }

  #expiryYear_div {
    padding-right: 10px;

    /*margin 0 for ipad*/
    margin: 0;
  }
}
