@media (max-width: 600px) {
  #paymentForm {
    fieldset {
      width: 100%;
      box-sizing: border-box;
    }

    input[type="text"] {
      margin-bottom: 20px !important;
    }

    select {
      margin-bottom: 20px !important;
    }
  }
}
