input[type="radio"] {
  display: inline-block;
  vertical-align: middle;

  + span {
    margin-left: 3px;

    + input[type="radio"] {
      margin-left: 15px;
    }
  }
}

#brand_field label {
  margin-bottom: 6px;
}
